@model TestWebApplication1.Models.GetSmartphonesViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<ul>
@foreach (var item in Model.Smartphones)
{
    <li> ID: @item.Id Name: @item.Name</li>      
}
    </ul>
