@model  TestWebApplication1.Models.ShopViewModel
@{
    ViewBag.Title = "GetById";
}

<h1>Id : @Model.Id</h1>
<h2>Name : @Model.Name</h2>
<h3>Address : @Model.Address</h3>
<h3>City : @Model.City</h3>






